/logs
/wp-admin
/wp-includes
/wp-content/uploads
/wp-content/plugins
/wp-content/languages
/wp-content/upgrade
/wp-content/upgrade-temp-backup
/wp-content/themes/twentyseventeen
/wp-content/themes/twentytwentytwo
/wp-content/themes/onepress_2023.02.18
/wp-content/themes/onepress_2023.02.22
/wp-content/themes/onepress_old
*.zip
*.sql
*.log
*.txt
wp-config.php
phpinfo.php
readme.html
/*.php
